<div class="row featurette">
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading">{{users.login }}<span class="text-muted">😀</span></h2>
      <p class="lead"> 
        <strong>Puntaje: {{users.score}}</strong><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus 
        posuere elementum justo, quis dapibus dui vehicula et. Integer ornare sem felis, 
        eget rutrum ex tristique ut. Vestibulum at turpis sed dolor vehicula dignissim.</p>
        <a href="{{users.html_url}}" target="_blank" >Ver mas..</a>
    </div>
    <div class="col-md-3">
        <img src="{{users.avatar_url}}" w="100">
    </div>
  </div>

  <br>
  <button class="btn btn-danger"
  routerLink="/Dashboard"> 
<i class="fas fa-long-arrow-alt-left"></i>
Regresar</button>